.DS_Store
*.swp
Thumbs.db
.svn
._*
*.sublime-project
*.sublime-workspace
.idea
sftp-config.json
vendor
build
cache.properties
tests/_log
codeception.yml
tests/**/*.suite.yml
*.orig
.project
tests/libs/live/*.pem
tests/_output/*